.nav-tabs .nav-item .nav-link.active {
    background-color: #0d6efd;
    color: white
  }

.nav-tabs .nav-item .nav-link {
    color: blue;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #0d6efd;
    color: white
}